body 
{
    height: 100%;
    justify-content: center;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: white;
    letter-spacing: 0.1px;
  }
  
  *,
  *:before,
  *:after
  {
    box-sizing: border-box;
  }
  
  ul,
  ol 
  {
    margin: 0;
    padding: 0;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  ul[class],
  ol[class],
  li,
  figure,
  figcaption,
  blockquote,
  dl,
  dd 
  {
    margin: 0;
  }

  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:not([class]) 
  {
    text-decoration-skip-ink: auto;
  }
  
  img 
  {
    max-width: 100%;
    display: block;
  }
  
  article>*+* 
  {
    margin-top: 1em;
  }
  
  input,
  button,
  textarea,
  select 
  {
    padding: 0;
    font: inherit;
  }







.topmenu
 {
    display: flex;
    align-items: center;
    gap: 635px;
    padding-bottom: 30px;
    
 }
 .topmenu p
 {
    font-family: Arial;
    font-size: 14px;
    margin-top: 28px;
    
 }
 .left_topmenu
 {
    display: flex;
    gap: 30px;
 }
 .right_topmenu img
 {
    width: 60px;
 }


 #sort
{
    background-image: url(../accests/mq8-original-aspect.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
    position: relative;
    min-height: 800px;
}
.tittle h1
{
    padding-top: 365px;
    color: black;
    font-size: 56px;
    padding-bottom: 30px;
}
.tittle p
{
    color: black;
    font-size: 28px;
    line-height: 30px;
}
.navigation
{
    padding-top: 100px;
    padding-bottom: 30px;
}
.navigation .dropbtn:after {
  background-color: #FFBF00; 
  display: block;
  content: "";
  height: 3px; 
  width: 0%;
  -webkit-transition: width .3s ease-in-out;
  -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}
.navigation .dropbtn:hover:after,
.navigation .dropbtn:focus:after {
  width: 100%;
}
.dropbtn
{
    background-color: black;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    padding-top: 25px;
    display: none;
    position: absolute;
    background-color:black;
    min-width: 240px;
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    color: white;
    font-size: 18px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.dropdown:hover .dropdown-content 
{
  display: block;
}

.main_buttons
{
   border-color: #FFBF00;
  font-family: Arial;
  font-size: 16px; 
  border-width: 1px;
  border-style: solid;
    display: flex;
    justify-content: space-around;
    padding: 60px 0px;
    border-radius: 30px;
}
.main_buttons p
{
    font-size: 24px;
    font-family: Arial;
    
}
.main_buttons img
{
  width: 30px;
}
.popular_models
{
  padding-top: 200px;
  padding-bottom: 60px;
}
.offer img
{
  padding-bottom: 20px;
}
.offer
{
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
.offer h3
{
  padding-bottom: 20px;
  font-size: 24px;
}
.price 
{
  font-size: 22px;
  color: #FFBF00;
  padding-top: 30px;
  padding-bottom: 30px;
}
.book
{
  align-self: center;
  border-color: #FFBF00;
  font-family: Arial;
  font-size: 16px; 
  border-width: 1px; /* Указывает толщину границы */
  border-style: solid;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}
.review
{
  padding-top: 100px;
  padding-bottom: 50px;
}
.review_text
{
  padding-bottom: 60px;
}
.review_text h1
{
  color: gold;
  padding-bottom: 20px;
}





.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFBF00;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 10px;
}


.button{
  display: block;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFBF00;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin: 10px;
}
.login-page h2
{
  color: #000000;
  padding-bottom: 10px;
}

